page-contact {
    .item-content {
        //color: color($colors, dark-semi);
        font-size: 20px;
        //display: inline-block;
        //vertical-align: middle;
        //padding:0px;
    }

    .item-title-focus {
        color: color($colors, primary);
        font-size: 20px !important;
        //display: inline-block;
        //vertical-align: middle;
    }
}
